{% extends 'admin_base.html' %}

{% block content %}
<div class="container">
    <br><br>
    <h2>Update User</h2>
    <hr>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>User Type:</label><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="is_farmer" id="is_farmer" {% if user.profile.is_farmer %} checked {% endif %}>
                        <label class="form-check-label" for="is_farmer">Farmer</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="is_customer" id="is_customer" {% if user.profile.is_customer %} checked {% endif %}>
                        <label class="form-check-label" for="is_customer">Customer</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}
